//reset

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}


$main-grey: #f4f4f4;
$border-grey: #eeeeee;
$text-grey:#b3b3b3;
$button-blue: #0975c8;
$event-blue: #c2e4fc;

.header{
	width:100vw;
	height:15vh;
	background-color: $main-grey;
	box-shadow: 0 4px 2px -2px $text-grey;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 45px 15px 45px;
	& .btn{
		line-height: 25px;
		color: white;
		background-color: $button-blue;
		border: none;
		padding:0 10px 0 10px;
		border-radius: 5px;
	}
}
.search__btn{
	border:0;
	width:10px;
	height: 10px;
	background-color: $main-grey;
	
}
.main{
	padding:15px 45px 45px 45px;
	display:flex;
	flex-direction: column;
}
.btn{
		padding: 5px;
		border: 1px solid $border-grey;
	border-radius: 5px;}
.navigate{
	display:flex;
	align-items: center;
	justify-content: flex-start;

	&__months{
		display: flex;
		justify-content: space-between;
		align-items: center;
    min-width: 150px;
		margin-right: 15px;
	}
}

.calendar_plate{
	display: flex;
	flex-wrap: wrap;
}

.cell{
	flex: 1 1 13%;
	border: 1px solid $border-grey;
	height: 100px;
	padding:5px;
	
}
.actual__cells{
	
	color: black;
}
.another__cells{
	color:$text-grey;
}
.today{
	background-color: $main-grey;
}
.full{
	background-color: $event-blue;
}
.modal{
	background-color: white;
	border: 1px solid $border-grey;
	border-radius:5px;
	padding: 15px;
	width:30%;
	position:fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.modal__form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding:60px;
	& input, textarea{
		width:100%;
		margin-bottom:20px;
		padding:5px;
		border: 1px solid $border-grey;
	}
}
.form__close{
	position: absolute;
	right:2%;
	top:2%;border: none;
	background-color: inherit;
}
.open{
	display: block;
}
.close{
	display:none;
}